header.c-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

header.c-header h1 {
  font-weight: bold;
  font-size: 24px;
  color: #2c2b2b;
}
